requests
country-named-entity-recognition
beautifulsoup4
pydantic
numpy
sentence-transformers==3.4.1
colectica-api
openpyxl
sqlalchemy
psycopg2 # If you get an error, switch to psycopg2-binary
weaviate-client